.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  text-align: center;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
}

.content {
  position: relative;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  text-align: end;
  padding: 10px;
}

.language-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.language-dropdown {
  position: absolute;
  top: 100%;
  right: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
}

.language-option {
  display: block;
  width: 100%;
  padding: 12px 20px;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
}

.language-option:hover {
  background-color: #f5f5f5;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  color: white;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: 600;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.main-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 30px;
  max-width: 80%;
  font-weight: 300;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.dots-container {
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.dot.active {
  background-color: white;
}

.explore-button {
  background-color: white;
  color: rgb(0, 74, 74);
  border: none;
  border-radius: 25px;
  padding: 18px 80px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
  transition: transform 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.explore-button:hover {
  transform: translateY(-2px);
}

/* Media Queries */
@media (min-width: 768px) {
  .main-content {
    max-width: 600px;
  }

  .main-content h1 {
    font-size: 28px;
  }

  .main-content h2 {
    font-size: 40px;
  }

  .main-content p {
    font-size: 18px;
  }
}

@media (max-width: 357px) {
  .main-content h1 {
    font-size: 20px;
  }

  .main-content h2 {
    font-size: 28px;
  }

  .main-content p {
    font-size: 14px;
  }

  .explore-button {
    padding: 15px 60px;
    font-size: 16px;
  }
}
